In [1]:
import pandas as pd

In [11]:
pd.read_csv("output/summary_table.csv").round(2)

,Index Variant,Ranking Model,NDCG,MRR,Precision@5,Precision@10,Precision@20,Recall@5,Recall@10,Recall@20
0,full_index,BM25,0.13,0.10,0.03,0.02,0.01,0.16,0.22,0.22
1,stopwords_removed,BM25,0.13,0.10,0.03,0.02,0.01,0.16,0.23,0.23
2,stemming,BM25,0.28,0.22,0.07,0.05,0.02,0.36,0.46,0.46
3,stopwords_removed_stemming,BM25,0.25,0.19,0.06,0.04,0.02,0.32,0.42,0.42

In [12]:
pd.read_csv("output/results.csv").round(2)

,Index Variant,Ranking Model,NDCG,MRR,Precision@5,Precision@10,Precision@20,Recall@5,Recall@10,Recall@20
0,full_index,BM25,0.13,0.10,0.03,0.02,0.01,0.16,0.22,0.22
1,stopwords_removed,BM25,0.13,0.10,0.03,0.02,0.01,0.16,0.23,0.23
2,stemming,BM25,0.28,0.22,0.07,0.05,0.02,0.36,0.46,0.46
3,stopwords_removed_stemming,BM25,0.25,0.19,0.06,0.04,0.02,0.32,0.42,0.42

In [13]:
pd.read_csv("output/doc_lengths.csv").round(2)

         doc_length
0              1738
1              5994
2             15627
3              7293
4              1047
...             ...
3213830        3339
3213831        7834
3213832        5503
3213833         250
3213834        6464

[3213835 rows x 1 columns]